*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  #hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    text-align: center;
    height: 100vh;
    background-color: #f6efae;
    position: relative;


  }

  .logo {
    margin: 40px;
  }
  
  
 

  .menu,
  .submenu,
  .sub-submenu,
  .sub-sub-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    text-align: center;
  }

  .menu{
    width: 300px;

    
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .submenu,
  .sub-submenu,
  .sub-sub-submenu {
    
    display: none;
    
    background-color: transparent;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .submenu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    background-color: #f3a9a9;
    display: flex;
    flex-direction: column;
  }
  .sub-submenu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    background-color: #a9e5f3;
    display: flex;
    flex-direction: column;
  }


  .sub-submenu {
    background-color: #c2abe2;
  }
  
  .sub-sub-submenu {
    background-color: #abb2e2;
  }

  .submenu-item,
  .sub-submenu-item,
  .sub-sub-submenu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .menu-item:hover .submenu,
  .submenu-item:hover .sub-submenu,
  .sub-submenu-item:hover .sub-sub-submenu {
    display: block;
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.2s;
    transform: translateX(-100%);
  }

  .menu-item:hover .submenu-panel,
  .submenu-item:hover .sub-submenu-panel,
  .sub-submenu-item:hover .sub-sub-submenu-panel {
    display: flex;
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.2s;
    transform: translateX(-100%);
  }
  

  .submenu-opened {
    display: block;
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.2s;
    transform: translateX(-100%);
  }

  .submenu-panel-opened {
    display: flex;
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.2s;
    transform: translateX(-100%);
  }


  /* ham */
  .hide {
    display: none;
  }

  
  /* fine ham */

  

.nav-transition{
  opacity: 0;
  animation: fade 0.5s forwards;
  animation-delay: 0.2s;
  transform: translateX(-100%);
}

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOpscity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
