body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container {
    display: flex;
    height: 100%;
  }
  
  .menu,
  .submenu,
  .sub-submenu,
  .sub-sub-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    width: 200px;
    text-align: center;
  }
  
  .menu-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .submenu,
  .sub-submenu,
  .sub-sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f3a9a9;
    width: 200px;
    height: 100vh;
  }

  .sub-submenu {
    background-color: #c2abe2;
  }
  
  .sub-sub-submenu {
    background-color: #abb2e2;
  }

  .submenu-item,
  .sub-submenu-item,
  .sub-sub-submenu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  
  .menu-item:hover .submenu,
  .submenu-item:hover .sub-submenu,
  .sub-submenu-item:hover .sub-sub-submenu {
    display: block;
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.2s;
    transform: translateX(-100%);
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  